* {
    background:     {{background}};
    background-alt: {{background}};
    foreground:     {{foreground}};
    selected:       {{color10}};
    active:         {{color11}};
    urgent:         {{color12}};
}
