@import "mocha.css";

* {
  transition: none;
  box-shadow: none;
}

#waybar {
  background: @base;
  font-family: JetBrains Mono Nerd Font, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
  color: black;
  border-radius: 2px;
  background: @base;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  margin: 8px 4px;
  padding: 0 4px;
  color: @white;
}

#workspaces button.active {
  border-radius: 4px;
  background-color: @green;
  color: black;
}

#workspaces button.urgent {
  background-color: @red;
}

#tray {
  border-radius: 4px;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid @base;
}

#tray *:first-child {
  border-left: none;
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-updates, #custom-weather, #custom-mail, #clock, #temperature {
  margin: 8px 4px;
  padding: 0 6px;
  background-color: @green;
  border-radius: 4px;
  min-width: 20px;
}

#pulseaudio.muted {
  color: @mauve;
}

#temperature.critical {
  color: @mauve;
}

#clock {
  margin-left: 4px;
  margin-right: 4px;
  background-color: @green;
}

#window {
  font-size: 0.9em;
	font-weight: 400;
	font-family: sans-serif;
	color: @text;
}
